<section class="section">
  <div class="container">
    <h1 class="title">Program Applications</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <table class="program-applications table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>
            Applicant Name
            <%= form_tag url: program_applications_path do %>
              <%= text_field_tag :search_name, @search_name, placeholder: "Search" %>
            <% end %>
          </th>
          <th>Program</th>
          <th class="has-text-centered">Academics</th>
          <th class="has-text-centered">Administration</th>
          <th class="has-text-centered">
            <span class="icon">
              <i class="fas fa-stopwatch"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @program_applications.each do |program_application| %>
        <tr>
          <td>
            <%= link_to program_application.full_name, program_application %>
          </td>
          <td>
            <%= program_application.program.titleize %>
          </td>
          <td class="has-text-centered">
            <% if program_application.academic_signoff.nil? %>
              <span class="icon has-text-light">
                <i class="fas fa-question-circle"></i>
              </span>
            <% elsif program_application.academic_signoff %>
              <span class="icon has-text-success">
                <i class="fas fa-check-circle"></i>
              </span>
            <% else %>
              <span class="icon has-text-danger">
                <i class="fas fa-ban"></i>
              </span>
            <% end %>
          </td>
          <td class="has-text-centered">
            <% if program_application.administrative_signoff.nil? %>
              <span class="icon has-text-light">
                <i class="fas fa-question-circle"></i>
              </span>
            <% elsif program_application.administrative_signoff %>
              <span class="icon has-text-success">
                <i class="fas fa-check-circle"></i>
              </span>
            <% else %>
              <span class="icon has-text-danger">
                <i class="fas fa-ban"></i>
              </span>
            <% end %>
          </td>
          <td class="has-text-centered">
            <%= time_tag(program_application.created_at) { time_ago_in_words(program_application.created_at) } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav_bulma(@pagy) %>
  </div>
</section>
