<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="question-responses">
          <h1 class="title"><%= @program_application.full_name %></h1>
          <h2 class="subtitle">
            <%= @program_application.program.titleize %> Application
          </h2>
        </div>
      </div>
      <div class="column">
        <nav class="panel contact-information">
          <p class="panel-heading">Contact Information</p>
          <div class="panel-block">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <%= mail_to @program_application.email_address %>
                </div>
              </div>
            </nav>
          </div>
          <div class="panel-block">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <span class="icon"><i class="fas fa-mobile-alt"></i></span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <%= link_to @program_application.phone_number, "tel:#{@program_application.phone_number}" %>
                </div>
              </div>
            </nav>
          </div>
        </nav>
        <% if @program_application.crm_url %>
        <div class="level box">
          <div class="level-item">
            <p>
              <a href="<%= @program_application.crm_url %>">Open Lead in Nutshell</a>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <% @program_application.question_responses.each do |question, answer| %>
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h4 class="title is-4"><%= question %></h4>
          <%= format_answer answer %>
        </div>
      </div>
    </article>
    <% end %>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="notes">
          <% @program_application.notes.order(created_at: :asc).each do |note| %>
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <%= gravatar_for note.user %>
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= note.user.name %></strong>
                    <small> wrote <%= time_tag(note.created_at) { time_ago_in_words(note.created_at) } %> ago:</small>
                  </p>
                  <%= simple_format(note.message) %>
                </div>
              </div>
              <% if note.user_id == current_user.id %>
                <div class="media-right">
                  <%= form_for([@program_application, note], :html => { :method => :delete }) do |f| %>
                    <%= f.button class: "delete" %>
                  <% end %>
                </div>
              <% end %>
            </article>
          <% end %>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <%= gravatar_for current_user %>
              </p>
            </figure>
            <div class="media-content">
              <%= form_for [@program_application, Note.new] do |f| %>
                <div class="field">
                  <p class="control">
                    <%= f.text_area :message, class: "textarea", placeholder: "Add a note..." %>
                  </p>
                </div>
                <%= f.submit class: "button is-info" %>
              <% end %>
            </div>
          </article>
        </div>
      </div>
      <div class="column sign-offs">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Academic Sign-off
            </p>
          </header>
          <footer class="card-footer">
            <% if @program_application.academic_signoff.nil? %>
            <div class="card-footer-item">
              <%= form_for @program_application do |f| %>
                <%= f.hidden_field :academic_signoff, value: true %>
                <%= f.button type: "submit", class: "button is-success" do %>
                  <span class="icon"><i class="fas fa-check-circle"></i></span>
                  <span>Accept</span>
                <% end %>
              <% end %>
            </div>
            <div class="card-footer-item">
              <%= form_for @program_application do |f| %>
                <%= f.hidden_field :academic_signoff, value: false %>
                <%= f.button type: "submit", class: "button is-danger" do %>
                  <span class="icon"><i class="fas fa-ban"></i></span>
                  <span>Reject</span>
                <% end %>
              <% end %>
            </div>
            <% else %>
              <div class="card-footer-item">
                <% if @program_application.academic_signoff %>
                  <span class="icon has-text-success is-medium">
                    <i class="fas fa-check-circle fa-2x"></i>
                  </span>
                <% else %>
                  <span class="icon has-text-danger is-medium">
                    <i class="fas fa-ban fa-2x"></i>
                  </span>
                <% end %>
              </div>
            <% end %>
          </footer>
        </div>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Administrative Sign-off
            </p>
          </header>
          <footer class="card-footer">
            <% if @program_application.administrative_signoff.nil? %>
            <div class="card-footer-item">
              <%= form_for @program_application do |f| %>
                <%= f.hidden_field :administrative_signoff, value: true %>
                <%= f.button type: "submit", class: "button is-success" do %>
                  <span class="icon"><i class="fas fa-check-circle"></i></span>
                  <span>Accept</span>
                <% end %>
              <% end %>
            </div>
            <div class="card-footer-item">
              <%= form_for @program_application do |f| %>
                <%= f.hidden_field :administrative_signoff, value: false %>
                <%= f.button type: "submit", class: "button is-danger" do %>
                  <span class="icon"><i class="fas fa-ban"></i></span>
                  <span>Reject</span>
                <% end %>
              <% end %>
            </div>
            <% else %>
            <div class="card-footer-item">
              <% if @program_application.administrative_signoff %>
                <span class="icon has-text-success is-medium">
                  <i class="fas fa-check-circle fa-2x"></i>
                </span>
              <% else %>
                <span class="icon has-text-danger is-medium">
                  <i class="fas fa-ban fa-2x"></i>
                </span>
              <% end %>
            </div>
            <% end %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
