<!DOCTYPE html>
<html>
  <head>
    <title>SDG Gateway</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag("icon.svg", size: '32x32') %>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <% if signed_in? %>
            <a class="navbar-item" href="/sign_out">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            </a>
            <% else %>
            <a class="navbar-item" href="/sign_in">
              <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="https://github.com/suncoast-devs/gateway" class="has-text-grey-dark"><span class="icon is-medium"><i class="fab fa-github fa-lg"></i></span></a>
          <br />
          <a href="https://suncoast.io">
            <%= image_tag "banner.svg", size: "150x60" %>
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
